name: Build docker image for Helkor hosting

on:
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - uses: docker/setup-qemu-action@v1
            - uses: docker/setup-buildx-action@v1
              with:
                  buildkitd-flags: --debug
            - uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: ./
                  file: ./deploy/helkor/Dockerfile
                  platforms: linux/amd64,linux/arm64
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/concordiaapi:helkor
