name: Build docker image for Helkor hosting

on:
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - uses: docker/setup-qemu-action@v1
            - uses: docker/setup-buildx-action@v1
              with:
                  buildkitd-flags: --debug
            - uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Lowercase repository user and name
              run: |
                  echo "REPO_USER=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >>${GITHUB_ENV}
                  echo "REPO_NAME=$(echo '${{ github.event.repository.name }}' | tr '[:upper:]' '[:lower:]')" >>${GITHUB_ENV}
            - name: Build and push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: ./
                  file: ./deploy/helkor/Dockerfile
                  platforms: linux/amd64,linux/arm64
                  push: true
                  tags: |
                      ghcr.io/${REPO_USER}/${REPO_NAME}:helkor
